$blue : #008b8b;
$gray-light : #ffffff;
$gray-dark : #989898;
$blue-light : #1ad3d3;
$font1 : 'Abril Fatface', cursive; 
$font2 : 'Nunito', cursive; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    overflow: hidden;
    font-family: $font2;
    background-color: $gray-light;

    .wrapper{
        display: flex;
        height: 100%;
        .left{
            width: 30vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .logo{
                height: 66.5vh;
                padding-left: 2vw;
                padding-bottom: 1vw;
                background-color: $blue;
                color: $gray-light;
                font-family: $font1;
                .hi{
                    font-size: 104px;
                    margin-top: 3vw;    
                }
                .who{
                    font-size: 53px;
                    margin-top:2vw;
                }
                .note{
                    font-size: 18px;
                    margin-top: 4vw;
                }
            }
            .left-bottom{
                height: 33.5vh;
                color: $gray-dark;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding-bottom: 2vh;
                .text{
                    margin-top: 17vh;
                    &::before{
                        display: inline-block;
                        content: "";
                        border-top: 1px solid $gray-dark;
                        width: 5vw;
                        margin: 0 10px 0 0;
                        transform: translateY(-3px);
                    }
                }
                .contact{
                    height: 15vh;
                    display: flex;
                    align-items: flex-end;
                    flex-direction: column;
                    justify-content: space-between;
                    .icon{
                        padding-right: 5px;
                        color:$gray-dark;
                        cursor: pointer;                        
                    }
                }
            }
        }
        
        .right{
            width: 100%;
            height: 100%;

            .boxes{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .box{
                    width: 44.66vh;
                    min-width: 44.66vh;
                    height: 33vh;
                    z-index: -1;

                }
                .box5{
                    border-left: 3px solid $blue;
                    .box5-half1{
                        height: 50%;
                        width: 60%;
                        border-top: 3px solid $blue;
                    }
                    .box5-half2{
                        height: 50%;
                    }
                }  
                .box7{
                    width: 32.55vh;
                    border-top: 3px solid $blue;
                }
                .box8{
                    border-top: 3px solid $blue;
                    .box8-half1{
                        border-right: 2px solid $blue;
                        height: 50%;
                        width: 50%;
                    }
                    .box8-half2{
                        height: 50%;
                    }
                }
                .box9{
                    .box9-half1{
                        border-top: 3px solid $blue;
                        height: 50%;
                        width: 50%;
                    }
                    .box9-half2{
                        height: 50%;
                    }
                }
            }
            .baloons{
                .baloon{
                    background-color:$gray-light;
                    border-radius: 50%;
                }
                .baloon-one{
                    position: absolute;
                    border-left: 4px solid $gray-dark;
                    border-top: 4px solid $gray-dark;
                    width: 32.55vh;
                    height: 32.55vh;
                    top: 9%;
                    left: 33%;
                }
                .baloon-two{
                    position: absolute;
                    border-bottom: 4px solid $gray-dark;
                    border-right: 4px solid $gray-dark;
                    width: 26.04vh;
                    height: 26.04vh;
                    top: 14%;
                    left: 55%;
                }
                .baloon-three{
                    position: absolute;
                    border-left: 4px solid $gray-dark;
                    border-top: 4px solid $gray-dark;
                    transform: rotate(60deg);
                    width: 45.57vh;
                    height: 45.57vh;
                    top: 34%;
                    left: 67%;
                }
                .baloon-four{
                    position: absolute;
                    border-right: 4px solid $gray-dark;
                    border-bottom: 4px solid $gray-dark;
                    transform: rotate(80deg);
                    width: 23.43vh;
                    height: 23.43vh;
                    top: 70%;
                    left: 48.5%;
                }
            }
            .infos{
                .info{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-position:center;
                    background-size: 55%;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    cursor: pointer;
                }
                .goapp{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    padding-top: 45%;
                    text-decoration: none;
                    color: black;               
                }
                .info-one{
                    pointer-events: none;
                    position: absolute;
                    width: 30vh;
                    height: 30vh;
                    top: 10%;
                    left: 33.5%;
                    background-image: url(./img/weather.png);
                    .text-one{
                        display: none;

                    }
                }
                .info-two{
                    pointer-events: none;
                    position: absolute;
                    width: 24vh;
                    height: 24vh;
                    top: 15%;
                    left: 55.5%;
                    background-image: url(./img/exchange.png);
                    .text-two{
                        display: none;
                    }
                }
                .info-three{
                    pointer-events: none;
                    position: absolute;
                    width: 43vh;
                    height: 43vh;
                    top: 35%;
                    left: 67.5%;
                    background-image: url(./img/stringifly.png);
                    .text-three{
                        display: none;
                    }
                }
                .info-four{
                    pointer-events: none;
                    position: absolute;
                    width: 22vh;
                    height: 22vh;
                    top: 70.8%;
                    left: 48.8%;
                    background-image: url(./img/todo.png);
                    .text-four{
                        display: none;
                    }
                }
            }
        }
    }
    .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $blue;
    color: $gray-light;
    top: 0%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font1;
    }
    .h1 {
    font-size: 100px;
    letter-spacing: 20px;
    }
    .overlay span {
    font-size: 30px;
    letter-spacing: 3px;
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media screen and (max-width: 1128px){
    .boxes{
        .box{
            display: none;
        }
    }
}

@media screen and (max-height: 501px){
    .boxes{
        .box{
            display: none;
        }
    }
}

@media screen and  (max-width: 576px){
    body{
        .wrapper{
            flex-direction: column;
            .left{
                width: 100vw;
                height: 23vh;
                flex-direction: row;
                background-color: $blue;    
                .logo{
                    background-color: $blue;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 23vh;
                    
                    .logo-title{
                        .hi{
                            font-size: 40px;
                            margin-top: 0;
                        }
                        .who{
                            font-size: 25px;
                            margin-top: 0;
                        }
                    }
                    .note{
                        font-size: 15px;
                        margin-top: 0;
                    }
                }
                .left-bottom{
                    .text{
                        display: none;
                    }
                    .contact{
                        position: absolute;
                        bottom: 2vh;
                        right: 6vw;
                    }
                }
            }
            
            .right{
                height: 80vh;
                .boxes{
                    .box{
                        display: none;
                    }
                }
                .baloons{
                    .baloon-one{
                        width: 29vh;
                        height: 29vh;
                        top: 25%;
                        left: 2%;
                    }
                    .baloon-two{
                        width: 24vh;
                        height: 24vh;
                        top: 32%;
                        left: 41%;
                    }
                    .baloon-three{
                        width: 35vh;
                        height: 35vh;
                        top: 57%;
                        left: 45%;
                    }
                    .baloon-four{
                        width: 23vh;
                        height: 23vh;
                        top: 75%;
                        left: 15%;
                    }
                }
                .infos{
                    .info-one{
                        width: 27vh;
                        height: 27vh;
                        top: 25.8%;
                        left: 3%;                        
                    }
                    .info-two{
                        width: 22vh;
                        height: 22vh;
                        top: 32.8%;
                        left: 41.9%;
                    }
                    .info-three{
                        width: 32.5vh;
                        height: 32.5vh;
                        top: 58%;
                        left: 47%;
                    }
                    .info-four{
                        width: 21vh;
                        height: 21vh;
                        top: 76%;
                        left: 16%;
                        
                    }
                }
            }
        }
    
    }
}