$color1 : #ff753e;
$color2 : #00f863;
$color3 : #ffffff;
$color4 : #989898;
$color5 : #7e7d7d;
$color6 : #02b94b;
$font1 : 'Abril Fatface', cursive; 
$font2 : 'Nunito', cursive; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: $font2;
    background-color: $color3;

    .wrapper{
        display: flex;
        height: 100vh;
        .left{
            width: 30vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .logo{
                height: 66.5vh;
                background-color: $color2;
                color: $color3;
                font-family: $font1;
                .hi{
                    font-size: 8vw;
                    margin: 2vw 0 1vw 2vw;
                }
                .who{
                    font-size: 4vw;
                    margin:2vw 0 1vw 2vw;
                }
                .note{
                    font-size: 1vw;
                    margin: 2vw 0 1vw 2vw;
                }
            }
            .left-bottom{
                height: 32vh;
                color: $color4;
                display: flex;
                justify-content: space-between;
                padding-top: 10vh;
                .text{
                    margin-top: 17vh;
                    &::before{
                        display: inline-block;
                        content: "";
                        border-top: 1px solid $color4;
                        width: 5vw;
                        margin: 0 10px 0 0;
                        transform: translateY(-3px);
                    }
                }
                .contact{
                    height: 20vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .icon{
                        color:$color4;
                        cursor: pointer;
                    }
                }
            }
        }
        
        .right{
            width: 100%;
            .boxs{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .box{
                    width: 44.66vh;
                    min-width: 44.66vh;
                    height: 33vh;
                    z-index: -1;

                }
                .box5{
                    border-left: 3px solid $color2;
                    .box5-half1{
                        height: 50%;
                        width: 60%;
                        border-top: 3px solid $color2;
                    }
                    .box5-half2{
                        height: 50%;
                    }
                }  
                .box7{
                    width: 32.55vh;
                    border-top: 3px solid $color2;
                }
                .box8{
                    border-top: 3px solid $color2;
                    .box8-half1{
                        border-right: 2px solid $color2;
                        height: 50%;
                        width: 50%;
                    }
                    .box8-half2{
                        height: 50%;
                    }
                }
                .box9{
                    .box9-half1{
                        border-top: 3px solid $color2;
                        height: 50%;
                        width: 50%;
                    }
                    .box9-half2{
                        height: 50%;
                    }
                }
            }
            .baloons{
                .baloon{
                    background-color:$color3;
                    border-radius: 50%;
                }
                .baloon-one{
                    position: absolute;
                    border-left: 4px solid $color4;
                    border-top: 4px solid $color4;
                    width: 32.55vh;
                    height: 32.55vh;
                    top: 9%;
                    left: 33%;
                    &:hover{
                        border-color:  green;
                    }
                }
                .baloon-two{
                    position: absolute;
                    border-bottom: 4px solid $color4;
                    border-right: 4px solid $color4;
                    width: 26.04vh;
                    height: 26.04vh;
                    top: 14%;
                    left: 55%;
                    &:hover{
                        border-color:  green;
                        animation: spin 5s linear 0s infinite;
                    }
                }
                .baloon-three{
                    position: absolute;
                    border-left: 4px solid $color4;
                    border-top: 4px solid $color4;
                    transform: rotate(60deg);
                    width: 45.57vh;
                    height: 45.57vh;
                    top: 34%;
                    left: 67%;
                    &:hover{
                        border-color:  green;
                        animation: spin 5s linear 0s infinite;
                    }
                }
                .baloon-four{
                    position: absolute;
                    border-right: 4px solid $color4;
                    border-bottom: 4px solid $color4;
                    transform: rotate(80deg);
                    width: 23.43vh;
                    height: 23.43vh;
                    top: 70%;
                    left: 48.5%;
                    &:hover{
                        border-color:  green;
                        animation: spin 5s linear 0s infinite;
                    }
                }
            }
            .infos{
                .info{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-position:center;
                    background-size: 55%;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    cursor: pointer;
                }
                .info-one{
                    position: absolute;
                    width: 30vh;
                    height: 30vh;
                    top: 10%;
                    left: 33.5%;
                    background-image: url(./img/weather.png);
                    .text1{
                        display: none;
                    }
                }
                .info-two{
                    position: absolute;
                    width: 24vh;
                    height: 24vh;
                    top: 15%;
                    left: 55.5%;
                    background-image: url(./img/exchange.png);
                    .text2{
                        display: none;
                    }
                }
                .info-three{
                    position: absolute;
                    width: 43vh;
                    height: 43vh;
                    top: 35%;
                    left: 67.5%;
                    background-image: url(./img/stringifly.png);
                    .text3{
                        display: none;
                    }
                }
                .info-four{
                    position: absolute;
                    width: 22vh;
                    height: 22vh;
                    top: 70.8%;
                    left: 48.8%;
                    background-image: url(./img/todo.png);
                    .text4{
                        display: none;
                    }
                }
            }
        }
    }
    .overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: $color2;
    color: $color3;
    top: 0%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font1;
    }
    .h1 {
    font-size: 100px;
    letter-spacing: 20px;
    }
    .overlay span {
    font-size: 30px;
    letter-spacing: 3px;
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
