* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito", cursive;
  background-color: #ffffff;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

body .wrapper .left {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper .left .logo {
  height: 66.5vh;
  background-color: #00f863;
  color: #ffffff;
  font-family: "Abril Fatface", cursive;
}

body .wrapper .left .logo .hi {
  font-size: 8vw;
  margin: 2vw 0 1vw 2vw;
}

body .wrapper .left .logo .who {
  font-size: 4vw;
  margin: 2vw 0 1vw 2vw;
}

body .wrapper .left .logo .note {
  font-size: 1vw;
  margin: 2vw 0 1vw 2vw;
}

body .wrapper .left .left-bottom {
  height: 32vh;
  color: #989898;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10vh;
}

body .wrapper .left .left-bottom .text {
  margin-top: 17vh;
}

body .wrapper .left .left-bottom .text::before {
  display: inline-block;
  content: "";
  border-top: 1px solid #989898;
  width: 5vw;
  margin: 0 10px 0 0;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

body .wrapper .left .left-bottom .contact {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper .left .left-bottom .contact .icon {
  color: #989898;
  cursor: pointer;
}

body .wrapper .right {
  width: 100%;
}

body .wrapper .right .boxs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .wrapper .right .boxs .box {
  width: 44.66vh;
  min-width: 44.66vh;
  height: 33vh;
  z-index: -1;
}

body .wrapper .right .boxs .box5 {
  border-left: 3px solid #00f863;
}

body .wrapper .right .boxs .box5 .box5-half1 {
  height: 50%;
  width: 60%;
  border-top: 3px solid #00f863;
}

body .wrapper .right .boxs .box5 .box5-half2 {
  height: 50%;
}

body .wrapper .right .boxs .box7 {
  width: 32.55vh;
  border-top: 3px solid #00f863;
}

body .wrapper .right .boxs .box8 {
  border-top: 3px solid #00f863;
}

body .wrapper .right .boxs .box8 .box8-half1 {
  border-right: 2px solid #00f863;
  height: 50%;
  width: 50%;
}

body .wrapper .right .boxs .box8 .box8-half2 {
  height: 50%;
}

body .wrapper .right .boxs .box9 .box9-half1 {
  border-top: 3px solid #00f863;
  height: 50%;
  width: 50%;
}

body .wrapper .right .boxs .box9 .box9-half2 {
  height: 50%;
}

body .wrapper .right .baloons .baloon {
  background-color: #ffffff;
  border-radius: 50%;
}

body .wrapper .right .baloons .baloon-one {
  position: absolute;
  border-left: 4px solid #989898;
  border-top: 4px solid #989898;
  width: 32.55vh;
  height: 32.55vh;
  top: 9%;
  left: 33%;
}

body .wrapper .right .baloons .baloon-one:hover {
  border-color: green;
}

body .wrapper .right .baloons .baloon-two {
  position: absolute;
  border-bottom: 4px solid #989898;
  border-right: 4px solid #989898;
  width: 26.04vh;
  height: 26.04vh;
  top: 14%;
  left: 55%;
}

body .wrapper .right .baloons .baloon-two:hover {
  border-color: green;
  -webkit-animation: spin 5s linear 0s infinite;
          animation: spin 5s linear 0s infinite;
}

body .wrapper .right .baloons .baloon-three {
  position: absolute;
  border-left: 4px solid #989898;
  border-top: 4px solid #989898;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  width: 45.57vh;
  height: 45.57vh;
  top: 34%;
  left: 67%;
}

body .wrapper .right .baloons .baloon-three:hover {
  border-color: green;
  -webkit-animation: spin 5s linear 0s infinite;
          animation: spin 5s linear 0s infinite;
}

body .wrapper .right .baloons .baloon-four {
  position: absolute;
  border-right: 4px solid #989898;
  border-bottom: 4px solid #989898;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
  width: 23.43vh;
  height: 23.43vh;
  top: 70%;
  left: 48.5%;
}

body .wrapper .right .baloons .baloon-four:hover {
  border-color: green;
  -webkit-animation: spin 5s linear 0s infinite;
          animation: spin 5s linear 0s infinite;
}

body .wrapper .right .infos .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: 55%;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

body .wrapper .right .infos .goapp {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 45%;
  text-decoration: none;
  color: black;
}

body .wrapper .right .infos .info-one {
  position: absolute;
  width: 30vh;
  height: 30vh;
  top: 10%;
  left: 33.5%;
  background-image: url(./img/weather.png);
}

body .wrapper .right .infos .info-one .text1 {
  display: none;
}

body .wrapper .right .infos .info-two {
  position: absolute;
  width: 24vh;
  height: 24vh;
  top: 15%;
  left: 55.5%;
  background-image: url(./img/exchange.png);
}

body .wrapper .right .infos .info-two .text2 {
  display: none;
}

body .wrapper .right .infos .info-three {
  position: absolute;
  width: 43vh;
  height: 43vh;
  top: 35%;
  left: 67.5%;
  background-image: url(./img/stringifly.png);
}

body .wrapper .right .infos .info-three .text3 {
  display: none;
}

body .wrapper .right .infos .info-four {
  position: absolute;
  width: 22vh;
  height: 22vh;
  top: 70.8%;
  left: 48.8%;
  background-image: url(./img/todo.png);
}

body .wrapper .right .infos .info-four .text4 {
  display: none;
}

body .overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #00f863;
  color: #ffffff;
  top: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Abril Fatface", cursive;
}

body .h1 {
  font-size: 100px;
  letter-spacing: 20px;
}

body .overlay span {
  font-size: 30px;
  letter-spacing: 3px;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
