* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Nunito", cursive;
  background-color: #ffffff;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

body .wrapper .left {
  width: 30vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper .left .logo {
  height: 66.5vh;
  padding-left: 2vw;
  padding-bottom: 1vw;
  background-color: #008b8b;
  color: #ffffff;
  font-family: "Abril Fatface", cursive;
}

body .wrapper .left .logo .hi {
  font-size: 104px;
  margin-top: 3vw;
}

body .wrapper .left .logo .who {
  font-size: 53px;
  margin-top: 2vw;
}

body .wrapper .left .logo .note {
  font-size: 18px;
  margin-top: 4vw;
}

body .wrapper .left .left-bottom {
  height: 33.5vh;
  color: #989898;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 2vh;
}

body .wrapper .left .left-bottom .text {
  margin-top: 17vh;
}

body .wrapper .left .left-bottom .text::before {
  display: inline-block;
  content: "";
  border-top: 1px solid #989898;
  width: 5vw;
  margin: 0 10px 0 0;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

body .wrapper .left .left-bottom .contact {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper .left .left-bottom .contact .icon {
  border: 3px solid #ffffff;
  padding-right: 5px;
  color: #989898;
  cursor: pointer;
}

body .wrapper .left .left-bottom .contact .icon:hover {
  border: 3px solid;
  border-color: #ffffff #1ad3d3 #ffffff #ffffff;
}

body .wrapper .right {
  width: 100%;
  height: 100%;
}

body .wrapper .right .boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .wrapper .right .boxes .box {
  width: 44.66vh;
  min-width: 44.66vh;
  height: 33vh;
  z-index: -1;
}

body .wrapper .right .boxes .box5 {
  border-left: 3px solid #008b8b;
}

body .wrapper .right .boxes .box5 .box5-half1 {
  height: 50%;
  width: 60%;
  border-top: 3px solid #008b8b;
}

body .wrapper .right .boxes .box5 .box5-half2 {
  height: 50%;
}

body .wrapper .right .boxes .box7 {
  width: 32.55vh;
  border-top: 3px solid #008b8b;
}

body .wrapper .right .boxes .box8 {
  border-top: 3px solid #008b8b;
}

body .wrapper .right .boxes .box8 .box8-half1 {
  border-right: 2px solid #008b8b;
  height: 50%;
  width: 50%;
}

body .wrapper .right .boxes .box8 .box8-half2 {
  height: 50%;
}

body .wrapper .right .boxes .box9 .box9-half1 {
  border-top: 3px solid #008b8b;
  height: 50%;
  width: 50%;
}

body .wrapper .right .boxes .box9 .box9-half2 {
  height: 50%;
}

body .wrapper .right .baloons .baloon {
  background-color: #ffffff;
  border-radius: 50%;
}

body .wrapper .right .baloons .baloon-one {
  position: absolute;
  border-left: 4px solid #989898;
  border-top: 4px solid #989898;
  width: 32.55vh;
  height: 32.55vh;
  top: 9%;
  left: 33%;
}

body .wrapper .right .baloons .baloon-two {
  position: absolute;
  border-bottom: 4px solid #989898;
  border-right: 4px solid #989898;
  width: 26.04vh;
  height: 26.04vh;
  top: 14%;
  left: 55%;
}

body .wrapper .right .baloons .baloon-three {
  position: absolute;
  border-left: 4px solid #989898;
  border-top: 4px solid #989898;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  width: 45.57vh;
  height: 45.57vh;
  top: 34%;
  left: 67%;
}

body .wrapper .right .baloons .baloon-four {
  position: absolute;
  border-right: 4px solid #989898;
  border-bottom: 4px solid #989898;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
  width: 23.43vh;
  height: 23.43vh;
  top: 70%;
  left: 48.5%;
}

body .wrapper .right .infos .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: 55%;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

body .wrapper .right .infos .goapp {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 45%;
  text-decoration: none;
  color: #1ad3d3;
  font-weight: bold;
  font-size: 17px;
}

body .wrapper .right .infos .info-one {
  pointer-events: none;
  position: absolute;
  width: 30vh;
  height: 30vh;
  top: 10%;
  left: 33.5%;
  background-image: url(./img/weather.png);
}

body .wrapper .right .infos .info-one .text-one {
  display: none;
}

body .wrapper .right .infos .info-two {
  pointer-events: none;
  position: absolute;
  width: 24vh;
  height: 24vh;
  top: 15%;
  left: 55.5%;
  background-image: url(./img/exchange.png);
}

body .wrapper .right .infos .info-two .text-two {
  display: none;
}

body .wrapper .right .infos .info-three {
  pointer-events: none;
  position: absolute;
  width: 43vh;
  height: 43vh;
  top: 35%;
  left: 67.5%;
  background-image: url(./img/stringifly.png);
}

body .wrapper .right .infos .info-three .text-three {
  display: none;
}

body .wrapper .right .infos .info-four {
  pointer-events: none;
  position: absolute;
  width: 22vh;
  height: 22vh;
  top: 70.8%;
  left: 48.8%;
  background-image: url(./img/todo.png);
}

body .wrapper .right .infos .info-four .text-four {
  display: none;
}

body .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #008b8b;
  color: #ffffff;
  top: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Abril Fatface", cursive;
}

body .h1 {
  font-size: 100px;
  letter-spacing: 20px;
}

body .overlay span {
  font-size: 30px;
  letter-spacing: 3px;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 1128px) {
  .boxes .box {
    display: none;
  }
}

@media screen and (max-height: 501px) {
  .boxes .box {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  body .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper .left {
    width: 100vw;
    height: 23vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #008b8b;
  }
  body .wrapper .left .logo {
    background-color: #008b8b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 23vh;
  }
  body .wrapper .left .logo .logo-title .hi {
    font-size: 40px;
    margin-top: 0;
  }
  body .wrapper .left .logo .logo-title .who {
    font-size: 25px;
    margin-top: 0;
  }
  body .wrapper .left .logo .note {
    font-size: 15px;
    margin-top: 0;
  }
  body .wrapper .left .left-bottom .text {
    display: none;
  }
  body .wrapper .left .left-bottom .contact {
    position: absolute;
    bottom: 2vh;
    right: 6vw;
  }
  body .wrapper .right {
    height: 80vh;
  }
  body .wrapper .right .boxes .box {
    display: none;
  }
  body .wrapper .right .baloons .baloon-one {
    width: 29vh;
    height: 29vh;
    top: 25%;
    left: 2%;
  }
  body .wrapper .right .baloons .baloon-two {
    width: 24vh;
    height: 24vh;
    top: 32%;
    left: 41%;
  }
  body .wrapper .right .baloons .baloon-three {
    width: 35vh;
    height: 35vh;
    top: 57%;
    left: 45%;
  }
  body .wrapper .right .baloons .baloon-four {
    width: 23vh;
    height: 23vh;
    top: 75%;
    left: 15%;
  }
  body .wrapper .right .infos .info-one {
    width: 27vh;
    height: 27vh;
    top: 25.8%;
    left: 3%;
  }
  body .wrapper .right .infos .info-two {
    width: 22vh;
    height: 22vh;
    top: 32.8%;
    left: 41.9%;
  }
  body .wrapper .right .infos .info-three {
    width: 32.5vh;
    height: 32.5vh;
    top: 58%;
    left: 47%;
  }
  body .wrapper .right .infos .info-four {
    width: 21vh;
    height: 21vh;
    top: 76%;
    left: 16%;
  }
}
