*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    background-color: #33495f;

    .left-bar{
        width: 50%;
        height: 100vh;

        .information-left{
            display: flex;
            flex-direction: column;
            padding: 60% 5% 10% 10%;
            color: #ffffff;
            font-family: Arial, Helvetica, sans-serif;

            .hello{
                margin-bottom: 2%;
                font-size: 30px;
            }
            .title{
                padding-bottom: 7vh;
                font-size: 18px;
            }
        }
        
        input::-webkit-input-placeholder {
            color: #ffffff;
            opacity: 0.3;
        }
        .input{
            background-color: transparent ;
            width: 50%;
            height: 15%;
            font-size: 3vh;
            outline: none;
            border-style: none;
            border-bottom: 1px solid #ffffff;
            color: white;
        }
        .input-submit{
            color:#243046;
            border-bottom:1px solid #243046;
            &::-webkit-input-placeholder {
                color: #243046;
                opacity: 0.3;
            }
        }
    }
    
    .right-bar{
        width: 50%;
        height: 100vh;
        background-image: url("/projects/weather/img/[GIF]\ Weather.gif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center; 

        .information-right{
            margin-top: 20vh;
            text-shadow: 1px 2px 5px #ffffff;     
            margin-left: 5%;
            .info{
                padding-bottom: -2vh;
                font-size: 3vh;
                font-family: Arial, Helvetica, sans-serif;
            }            
            #icon{
                background-color: #ffffff;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-size: contain;
            }
            #city-name{
                font-size: 16vh;
            }
            #temp{
                font-size: 11vh;
            }
                   
        }        
        
    }  
    

}
@media (max-width:576px){
    .container{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
        .left-bar{
            width: 100%;
            height: 50vh;
            .information-left{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                
                .input{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                }
            }        
        }
        .right-bar{
            background-position-y: 0;
            height: 50vh;
            width: 100%;
            background-size: contain;
            .information-right{
                margin: 0;
                margin-left: 3%;
                .info{
                    padding-bottom: 1vh;
                }
                #city-name{
                    font-size: 10vh;
                }
                #temp{
                    font-size: 6vh;
                }
            }
        }
    }
}
